.loader {
    border: 4px solid #f3f3f3; /* 设置边框样式 */
    border-top: 4px solid #3498db; /* 设置顶部边框样式，可以改变颜色来改变加载图标的颜色 */
    border-radius: 50%; /* 设置边框为圆形，以创建加载图标的形状 */
    width: 20px; /* 设置加载图标的宽度 */
    height: 20px; /* 设置加载图标的高度 */
    animation: spin 2s linear infinite; /* 设置旋转动画的属性 */
    margin: 0px 15px 0px;
}
@keyframes spin {
    0% { transform: rotate(0deg); } /* 设置动画开始时的旋转角度 */
    100% { transform: rotate(360deg); } /* 设置动画结束时的旋转角度 */
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 设置容器的高度为视口的高度，以将内容垂直居中 */
    }
h3 {text-align: center;}
#myAudio {display: none;}

