.menu.active {
    display: block;
    position: absolute;
    padding: 13px 0px;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #333;
    width: 100%;
}
.menu.active li {
    position: relative;
    top: 20px;
    display: block;
    padding: 14px 16px;
    color: rgb(220, 220, 220);
    text-align: center;
    margin: auto;
}
.menu li:hover {background-color: transparent;}

.hide-on-main {
    display: none;
}
.home{
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.homeimage{
    order: 2;
}
.home article{
    order: 1;
}

.home article {
    display: block;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.home article div {
    width: 100%;
}

.home img {
    float: none;
    margin-bottom: 20px;
}

.portfolio h2 {
    padding-top: 30px;
}

.portfolio p {
    padding-bottom: 20px;
}

.portfolio-class img {
    padding: 10px;
}

.about-words {
    padding: 100px 0;
}

footer img {
    width: 100%;
    height: auto;
}

.footer-spacer {
    margin-top: -100px;
}

.footer-spacer div {
    padding: 10px 0;
}