header ul {
    flex-wrap: wrap;
    justify-content: center;
}

header ul li {
    width: auto;
    margin: 5px;
}

.home {
    height: auto;
    min-width: auto;
    border-width: 30px;
}

.home article {
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.home article div {
    width: 100%;
}

.home img {
    float: none;
    margin-bottom: 20px;
}

.portfolio h2 {
    padding-top: 30px;
}

.portfolio p {
    padding-bottom: 20px;
}

.portfolio-class img {
    padding: 10px;
}

.about-words {
    padding: 100px 0;
}

footer img {
    width: 100%;
    height: auto;
}

.footer-spacer {
    margin-top: -100px;
}

.footer-spacer div {
    padding: 10px 0;
}