.project-placeholder{
    height: 54px;
}
.project video {
    width: 100%;
    position: fixed;
}

.project video[autoplay] {
    display: block;
}


img {
    width: 100%;
}
.project-main {
    position: absolute;
    top: calc(100vw * 9 / 16 + 54px);;
    width: 100%;
    z-index: 1;
}
.project-container {
    font-size: 0;
}
.project-image-box img {
    display: inline-block;
    width: 100%;
}
.project-video-box{
    background-color: black;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 120px 0;
}
.project-video-box video{
    width: 80%; 
    position: inherit;
}
