.agile_short_dropdown {
    border-radius: 0;
    background-color: rgb(255, 255, 255, 0.3);
    -webkit-backdrop-filter: saturate(180%) blur(15px);
    backdrop-filter: saturate(180%) blur(15px);
    text-align: center;
    padding: 0;
    border: none;
    margin-top: 20px;
    min-width: 0;
    width: 270px; /* 调整子菜单宽度 */
}

.agile_short_dropdown li {
    display: block; /* 修改为块级元素，让子菜单项独占一行 */
}

.agile_short_dropdown li a {
    color: #FFFFFF;
    text-transform: none;
    font-size: 13px;
    font-weight: 600;
    padding: 10px; /* 调整子菜单项的上下内边距 */
    white-space: nowrap; /* 防止文字换行 */
    overflow: hidden; /* 超出部分隐藏 */
    text-overflow: ellipsis; /* 超出部分显示省略号 */
    
}

.agile_short_dropdown>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgb(0, 0, 0, 1);
    -webkit-backdrop-filter: saturate(180%) blur(15px);
    backdrop-filter: saturate(180%) blur(15px);
    position: relative;
}




