<div class="footer-contain">
  <div class="footer-left">
    <p class="footer-company-name">© 2025 by Zejun Huang</p>
  </div>
  <div class="footer-center">
    <div class="footer-center-box">
      <div>
        <a href="mailto:zejunhuang@ucsb.edu"><i class="fa-solid fa-envelope"></i></a>
        <p><span>zejunhuang@ucsb.edu</span></p>
      </div>
      <div>
        <a href="https://www.google.com/maps/place/Santa+Barbara,+California" target="_blank"><i class="fa-solid fa-location-dot"></i></a>
        <p><span>Santa Barbara, California</span></p>
      </div>
    </div>
  </div>
  <div class="footer-right">
    <div class="footer-icons">
      <!-- <a href="https://www.facebook.com/profile.php?id=100046179534151" target="_blank"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://x.com/zejun_h" target="_blank"><i class="fa-brands fa-x-twitter"></i></a> -->
      <a href="https://www.linkedin.com/in/zejuh" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
      <a href="https://github.com/zejuh" target="_blank"><i class="fa-brands fa-github"></i></a>
    </div>
  </div>
</div>