<header id="header" >
  <div class="header-content clearfix"> <a class="logo" href="/">Zach</a>
    <nav class="navigation" role="navigation">
      <ul class="primary-nav">
        <li class="dropdown">
          <a href="/" class="dropdown-toggle">Works<b class="caret"></b></a>
          <ul class="dropdown-menu agile_short_dropdown">
            <li><a href="/works/project6.html" class="scroll">Elderly Body Fat Scale</a></li>
            <li><a href="/works/project3.html" class="scroll">Accessible Vehicle Seat</a></li>
            <li><a href="/works/project7.html" class="scroll">Secetar (Secure Ice Tartar)</a></li>
            <li><a href="/works/project4.html" class="scroll">Ceramic Aesthetic Education</a></li>
            <li><a href="/works/project8.html" class="scroll">NFT Marketplace: VoxelTide (Web3)</a></li>
            <li><a href="/works/project5.html" class="scroll">Library Management System (Web2)</a></li>
            <li><a href="/works/project11.html" class="scroll">Color Network Model</a></li>
          </ul>
        </li>
        <li><a href="/publications.html">Publications</a></li> 
        <li><a href="/about.html">About</a></li>
      </ul>
    </nav>
    <button id="darkModeToggle" class="theme-toggle" aria-label="Toggle theme">
        <i class="fa-solid fa-sun"></i>
        <i class="fa-solid fa-moon"></i>
        <span class="slider"></span>
    </button>
    <button class="nav-toggle" aria-label="Toggle navigation"><span></span></button>
</header>